<% @users.each do |user| %>
  <div class="user-card">
    <div class="user-image">
      <img src="<%= user.photo %>">
    </div>
    <div class = "user-info">
    
      <%= link_to user_path(user) do %>
        <h1>
          <%= user.name %>
        </h1>  
        <p>
          Number of posts : <%= user.post_counter %>
        </p>
      <%end%>
    </div>
  </div>
<% end %>

<%= button_to "Sign out", 
        destroy_user_session_path, 
        method: :delete, 
        data: {turbo: false} if user_signed_in?%>

<%
=begin%>
 
<button>
  <%= link_to "add new post for #{@user.name}", new_user_post_path(@user) %>
</button> 
<%
=end%>
